@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --body-bg-color: #f5f5f5;
  --font-family: 'Roboto', sans-serif;

  --desktop-container: 760px;
  --mobile-container: 100%;
  --mobile-max-width: 768px;

  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  --padding: 20px;
  --margin: 20px;

  --main-bg-color: #f44336;
  --main-bg-hover-color: #af2f25;
  --main-contrast-color: #ffffff;

  --primary-text-color: #424242;
  --secondary-text-color: #9e9e9e;

  --font-medium: 16px;
  --font-large: 20px;
  --font-extra-large: 24px;

  --button-padding: 10px 30px;
  --ticker-padding: 15px;
  --ticker-font-size: var(--font-extra-large);

  --error-border: 1px solid var(--main-bg-color);
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
  margin: 0;
}

.root {
  width: var(--desktop-container);
  margin: var(--margin) auto;
}

.navbar {
  background-color: var(--main-bg-color);
  color: var(--main-contrast-color);

  &__container {
    width: var(--desktop-container);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-transform: uppercase;
    font-size: var(--font-large);
  }

  .days-elapsed {
  }
}

.add-item {
  display: flex;
  justify-content: space-between;

  .type {
    width: 70%;
    border: 1px solid var(--primary-text-color);
    border-radius: 0;

    &.error {
      border: var(--error-border);
    }
  }

  .quality {
    width: 10%;
    padding-left: 10px;
    border: 1px solid var(--primary-text-color);
    border-radius: 0;
  }

  .add {
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow);
    padding: var(--button-padding);
    border: none;
    font-size: var(--font-medium);
    color: #fff;
    text-transform: uppercase;
  }
}


.items {
  .item {
    margin: var(--margin) 0;
    background-color: var(--main-contrast-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &__features {
      display: flex;
      flex-direction: column;
      color: var(--secondary-text-color);

      span:first-child {
        margin-bottom: 10px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      flex-direction: inherit;
    }

    &__type {
      margin: 0 15px;
    }

    &__info, &__id {
      font-size: var(--font-large);
    }

    &__id {
      color: var(--secondary-text-color);
    }
  }
}

.ticker {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: var(--ticker-font-size);
  padding: var(--ticker-padding);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--main-contrast-color);
  margin: var(--margin);
}

@media(max-width: 768px) {
  .root {
    max-width: var(--mobile-container);
    width: auto;
    padding: var(--padding);
  }

  .navbar {
    max-width: 100%;
    padding: 0 var(--padding);

    &__container {
      width: var(--mobile-container);
    }
  }
}
